<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(taskList)}">
    <table id="table_id" cellpadding="2px" cellspacing="2px" border="2px">
        <thead >
        <tr >
            <th>
                Task name
            </th>
            <th>
                Task desc
            </th>
            <th>
                Created date
            </th>
            <th>
                finished
            </th>

        </tr>
        </thead>

        <tbody >
        <tr th:each="task  : ${taskList}" >
            <td th:text="${task.task_name}">
            </td>
            <td th:text="${task.task_desc}">
            </td>
            <td th:text="${task.date_created}">
            </td>
            <td th:text="${task.finished}">
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
